
nav {    
    display: block;
    text-align: center;
    /* border: 2px solid yellow; */
    background: #2a0459;
  }
  nav ul {
    margin: 1;
    padding:1;
    list-style: none;
  }
  .nav a {
    display:block; 
    background: #0b5d78; 
    color:#fff; 
    text-decoration: none;
    padding: .8em 1.8em;
    /* text-transform: uppercase; */
    font-size: 100%;
    letter-spacing: 3px;
    text-shadow: 0 -1px 0 #000;
    position: relative;
  }
  .nav{  
    vertical-align: top; 
    display: inline-block;
    box-shadow: 1px -1px -1px 1px #000, -1px 1px -1px 1px #fff, 0 0 6px 3px #fff;
    border-radius:8px;
  }
  .nav li{position: relative;}
  .nav > li { 
    float:left; 
    /* border-bottom: 4px #aaa solid;  */
    margin-right: 1px; 
  } 
  .nav > li > a { 
    margin-bottom:1px;
    
  }
  .nav > li:hover , .nav > li:hover >a{ 
    border-bottom-color:rgb(230, 114, 19);
  }
  .nav li:hover > a { color:#39FF14; }
  .nav > li:first-child  { border-radius: 4px 0 0 4px;} 
  .nav > li:first-child>a{border-radius: 4px 0 0 0;}
  .nav > li:last-child  { 
    border-radius: 0 0 4px 0; 
    margin-right: 0;
  } 
  .nav > li:last-child >a{border-radius: 0 4px 0 0; }
  .nav li li a { margin-top:1px}
  
  
  
    .nav li a:first-child:nth-last-child(2):before { 
     content:""; 
     position: absolute; 
     height:0; 
     width: 0; 
     border: 5px solid transparent; 
     top: 50% ;
     right:5px;  
   }
   
   
   
   
   
   /* submenu positioning*/
.nav ul {
  position: absolute;
  white-space: nowrap;
  border-bottom: 5px solid  rgb(143, 138, 138);
  z-index: 1;
  left: -99999em;
}
.nav > li:hover > ul {
  left: auto;
  padding-top: 5px  ;
  min-width: 100%;
}
.nav > li li ul {  border-left:1px solid #fff;}


.nav > li li:hover > ul { 
 /* margin-left: 1px */
  left: 100%;
  top: -1px;
}
/* arrow hover styling */
.nav > li > a:first-child:nth-last-child(2):before { 
  border-top-color: #aaa; 
}
.nav > li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent; 
  border-bottom-color: #39FF14; 
  margin-top:-5px
}
.nav li li > a:first-child:nth-last-child(2):before {  
  border-left-color: #aaa; 
  margin-top: -5px
}
.nav li li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent; 
  border-right-color: #39FF14;
  right: 10px; 
}